{{ define "main" }}
<!-- Add a top paginator if this is a page 2+ list page. -->
<!-- Otherwise, we show the section overview. -->
{{ if (eq .Paginator.PageNumber 1) }} {{ .Content }} {{ else }}
<div class="paginator-top paginator-show-title">
    {{ partial "utils/paginator.html" . }}
</div>
{{ end }}

<!-- Add all of the items within the list. -->
<div class="post-gallery">
    <div class="post-gallery-list">
        {{ range .Paginator.Pages }} {{ .Render "li" }} {{ end }}
    </div>
</div>

<!-- Bottom paginator. -->
<div class="paginator-bottom">{{ partial "utils/paginator.html" . }}</div>
{{ end }}
