{{ define "main" }}
    <!-- Add default titles for term, taxonomy pages. -->
    <h1>Tags</h1>
    <span>A comprehensive list of all tags used within the blogs of this site.</span>
    <span><br>To browse posts in date order, visit each blogs' <a href="{{ relURL "" }}">category page</a>.</span>

    <!-- Add a top paginator. -->
    <div class="paginator-top">
        {{ partial "utils/paginator.html" . }}
        {{ if (gt .Paginator.TotalPages 1) }}
            <div class="tag-gallery-spacer"></div>
        {{ end }}
    </div>

    <!-- Add all of the items within the list. -->
    <div class="tag-gallery">
        <ul class="tag-gallery-list">
            {{ range .Paginator.Pages }}
                <li class="tag-gallery-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>

    <!-- Bottom paginator. -->
    <div class="paginator-bottom">
        {{ partial "utils/paginator.html" . }}
    </div>
{{ end }}
