<!-- Common shared header for all site pages. -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Metadata. -->
    {{ if .IsHome }}
        {{ .Scratch.Set "title" .Site.Title }}
    {{ else }}
        {{ .Scratch.Set "title" (printf "%s ・ %s" .Site.Title .Title) }}
    {{ end }}
    {{ .Scratch.Set "description" ((or .Description .Site.Params.meta.description) | plainify | truncate 160 ) }}
    {{ .Scratch.Set "cover" (or .Params.cover .Site.Params.cover) }}

    <!-- Set title based on page title (unless homepage). -->
    <title>{{ .Scratch.Get "title" }}</title>

    <!-- Various types of meta tags. -->
    <meta name="description" content="{{ .Scratch.Get "description" }}">
    {{ with .Params.tags }}
        <meta name="keywords" content="{{delimit . ", "}}">
    {{ end }}
    <link rel="shortcut icon" type="image/icon" href="/favicon.ico">

    <!-- Twitter cards. -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ .Scratch.Get "title" }}" />
    <meta name="twitter:description" content="{{ .Scratch.Get "description" }}" />
    <meta name="twitter:image" content="{{ .Scratch.Get "cover" }}" />

    <!-- OpenGraph metadata. -->
    <meta property="og:locale" content="{{ .Site.Language.Lang }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ .Scratch.Get "title" }}">
    <meta property="og:description" content="{{ .Scratch.Get "description" }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:image" content="{{ absURL ($.Param "coverImage") }}">

    <!-- Alternate output formats (eg. RSS). -->
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <!-- Global stylesheet (Tailwind) -->
    {{ with (templates.Defer (dict "key" "global")) }}
        {{ partial "css.html" . }}
    {{ end }}

    <!-- Google Fonts loading (if requested). -->
    {{ with .Site.Params.look.googleFonts }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {{ range . }}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ .family }}&display=swap">
        {{ end }}
    {{ end }}

    <!-- Font preload. -->
    {{ with resources.Get "fonts/CrimsonPro-Variable.woff2" }}
    <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
    {{ end }}

    <!-- Icons. -->
    <!-- TODO -->
</head>
